body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

.top {
    font-weight: 100;
}

.mid {
    font-weight: 400;
    color: #bcbbbb;
}

button {
    font-weight: 400;
}